/*All code made by Ryan Costa*/
/*variables*/
:root{
    --darkercolor:#1F2235;
    --darkcolor:#22253B;
    --lightcolor:#FF4456;
}
/*styling*/
body {
   background-color:var(--darkercolor);
   color: white;
   text-align: center;
   font-size: larger;
}
fieldset{
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    border:1px solid white;
}
input {
    border: none;
    margin: 10px;
    background-color: white;
    outline: none;
}      
.redtxt {
    color: var(--lightcolor);
}
button {
    border:2px solid var(--lightcolor);
    border-radius: 4px;
    background-color:var(--darkcolor);
    color: white; 
    font-size: large; 
    margin: 10px;
}
button:hover{
    border:2px solid --lightcolor;
    border-radius: 4px;
    background-color:var(--lightcolor);
    color: var(--darkercolor); 
    font-size: large; 
    margin: 10px;
}
